<!--<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>-->
<!DOCTYPE HTML>
<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>About</h1>
		</header>
		<p>We collect and archive stories of Taiwanese Americans to preserve a collective history and foster
			intergenerational and intercultural communication. </p>
		<p>Our TA Story was created at the Taiwanese American Foundation Summer Conference as part of the tafLabs program.</p>
	</div>
	<span class="image object">
		<%= image_tag("tsai_family.jpg") %>
	</span>
</section>
