<!--<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>-->
<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->


							<!-- Banner -->
<section id="banner">
		<div class="content">
      <header>
        <h1><%= @featured.name %></h1> <br>
      </header>
      <p> <%= truncate(@featured.body, length: 300) %></p>
      <ul class="actions">
        <li><a href="#stories" class="button big">See More Stories</a></li>
      </ul>
    </div>
									<span class="image object">
										<%= image_tag("tsai_family.jpg") %>
									</span>
</section>
<!-- Section -->
<h2>Stories</h2>
<%= render "stories/stories_index" %>
