<!--<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>-->
<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->


							<!-- Banner -->
<section id="banner">
		<div class="content">
      <header>
        <h1>Stories and Stories </h1> <br>
      </header>
      <p> We collect and archive stories of Taiwanese Americans to preserve a collective history and
        foster intergenerational and intercultural communication.</p>
      <ul class="actions">
        <li><a href="#" class="button big">See Stories</a></li>
      </ul>
    </div>
									<span class="image object">
										<%= image_tag("tsai_family.jpg") %>
									</span>
</section>
<!-- Section -->
<section>
  <header class="major">
    <h2>Stories</h2>
  </header>
  <div class="posts">
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
</section>
