%h1
  Interview Guide
%h2
  Tips for interviewers:
%p
  %ul
    %li
      Ask open-ended questions that will lead to concrete answers.
    %li
      Example: What was your childhood home like? Who else lived in the house with you? What did your bedroom look like?
    %li
      Consider the order of questions. The progression of questions is important for establishing rapport and eliciting memories. Start with fact-based warm-up questions before moving on to more complex questions. You can choose two or three of the suggested questions below to get the conversation started.
    %li
      Listen more than speak. Allow time for the interviewee to fully answer the question.
    %li
      Listen with curiosity. Be willing to go “off script” and follow the direction of the conversation with follow-up questions.
%h2
  Tips for interviewees:
%p
  %li
    Try to be as specific and descriptive in your answers as possible. Feel free to expand as much as you like.
%hr
%h2
  Questions
%h3
  Interview starters:
%p
  %li
    Tell me about your parents. What was your life like growing up?
  %li
    What was your childhood home like? Who else lived in the house with you? What did your bedroom look like?
  %li
    Who lived in your home and what were they like?
  %li
    How would you describe the area you grew up?
  %li
    What is your earliest memory?
%h3
  Next-level questions:
%p
  %li
    Tell me about a teacher or other adult that impacted your life while you were growing up.
  %li
    If you could go back and relive your teenage years, would you? Why/why not?
  %li
    Did you get into any trouble growing up? What was the worst thing you did?
  %li
    What lessons did your time in the military teach you? Did it change you?
  %li
    How do you feel the political climate affected your life?
  %li
    How did you meet my mom/dad?
  %li
    How and why did you immigrate?
  %li
    How did you feel about leaving Taiwan?
  %li
    How did you feel when you arrived in America?
  %li
    What was the biggest difference between your life in Taiwan and your life in America?
  %li
    What surprised you most about America?
  %li
    What was your favorite and least favorite part about America?
  %li
    What were unexpected challenges of raising children in America?
  %li
    What were some of your favorite and least favorite parts about raising me?
  %li
    Tell me about a time that I made you upset.
  %li
    Tell me about a time that I made you proud.
  %li
    Of all the family members you have either known or heard stories about, who do you think lived the most interesting life? Why?
  %li
    Who were your favorite relatives? Do you remember any stories they told you?
  %li
    What is your most vivid memory of your parents?
  %li
    What do you miss the most about your hometown?
  %li
    What is your biggest regret?
  %li
    Who has been the biggest influence on your life? What lessons did that person teach you?
  %li
    What do you see as our family’s legacy?
%h3
  Concluding Questions:
%p
  %li
    In what ways did you want to ensure that my childhood would not be like your childhood? In what ways did you want to ensure that it would be similar?
  %li
    How has your life been different than how you imagined it would be when you were young?
  %li
    What are some of the most important lessons you’ve learned in life? How did you learn them?
  %li
    How do you identify ethnically? i.e. Taiwanese, Taiwanese American
  %li
    When you think of being Taiwanese American, what comes to mind?

%p
  A majority of the above questions are from the
  %a{href: "https://storycorps.me/question-generator/"}
    StoryCorps question list.
