<div class="audio_unique_input">
  <%= f.file_field :thumbnail, label: "Upload a picture: ", help: "We'll use this as a thumbnail for your story. If you don't provide a picture, we'll use your SoundCloud track cover art instead."%>
  <%= f.text_field :video_link, wrapper: {class: 'required'}, label: "Link to your audio clip:", help: "Link to your SoundCloud audio clip", id: "audio_link"%>
</div>
