<div class="audio_unique_input">
  <%= f.file_field :thumbnail, label: "Upload a picture: ", help: "We'll use this as a thumbnail for your story"%>
  <%= f.text_field :video_link, wrapper: {class: 'required'}, label: "Link to your audio clip:", help: "Link to your SoundCloud audio clip", id: "audio_link"%>
</div>
