
<section>
  <div class="posts">
    <% @stories.each do |story| %>
      <article>
        <%=link_to image_tag(story.thumbnail.url || default_url), story, class:"image" %>
        <h3><%= story.name %></h3>
        <p><%= truncate(story.body, length: 300) %></p>
        <ul class="actions">
          <li><%= link_to "More", story, class: "button" %></li>
        </ul>
      </article>
    <% end %>
  </div>
</section>
