//$primary-color: #326b78;
//$primary-color: rgba(#743236, 1);
$primary-color: rgba(#3b6367, 1);
//$primary-color-light: rgba(#8f5558, 1);
$primary-color-light: rgba(#588991, 1);
//$primary-color-faded: rgba(#8f5558, 0.9);
$primary-color-faded: rgba(#588991, 0.9);
$highlight-color: #51bbd4;
$faded-color: rgba(255, 255, 255, 0.7);
