.alert {
  padding : 10px;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
  text-align: center;
  margin-top: 1em;
}

.alert-success {
  background-color: #5cb85c;
}

.alert-failure {
  background-color: #d9534f;
}
