@import 'components/colors';

// this is for each individual story
.interview-guide-wrapper {

  .text{
  width: 80%;
  margin: 0 auto;

  font-size: 1.1em;
  padding: 1em;
}

  .header {
    position: relative;
    width: 100%;
    min-height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: asset_url("WEDNESDAY.jpg");
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;

  }

}
