@import 'components/colors';

.submit-wrapper {

  .text {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1em;
  padding: 2em;
  //padding-bottom: 1em;
  //padding-left: 2em;
  // padding-right: 2em;
}

.header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center 30%;
  background-image: asset_url("FullSizeRender_1.jpg");
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;

}

  .submit-title {
    padding: 1em;
  }

  label.required:after {
    content: "*"
  }

}
