.submit-wrapper {
  width: 80%;
  margin: 0 auto;
  font-size: 1.1em;
  padding: 2em;
  //padding-bottom: 1em;
  //padding-left: 2em;
  // padding-right: 2em;

  .submit-title {
    padding: 1em;
  }

}
